.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #3b3b3b;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color-scheme: dark;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-input .ant-picker-input input {
    border-color: #000;
    color-scheme: dark;
}

.form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    /*background-color: #007bff;*/
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/*.form-button:hover {*/
/*    background-color: #0056b3;*/
/*}*/
