.container {
    display: flex;
    width: 100%;
    margin: 0 auto; /* Центрирование контейнера */
    padding: 2rem; /* Отступы */
}

.app-container {
    /*background-color: #007bff;*/
    width: 100vw;
}

.nav-panel {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    padding: 20px;
    /*background-color: #1b1b1b;*/
}

.main-content {
    flex: 1;
    display: flex;
    /*margin-left: 300px; !* Отступ слева равен ширине навигационной панели *!*/
    /*width: 100px; !* Ширина равна 90% ширины экрана минус отступы *!*/
    /*padding: 20px;*/
}
